# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/

# Environment variables
.env

# Google OAuth
token.json
client_secret*.json
service-account-key.json

# OS
.DS_Store
Thumbs.db

# Google OAuth
token.json
client_secret*.json
service-account-key.json

*.jpeg
firebase-debug.log